img{
    width: 30vw;
}
header{
    display: flex;
    justify-content: space-around;
    margin: 5vh;
}

header > div{
    max-width: 50vw;
}
button{
    background: black;
    color:white;
    padding:1em;
    border-radius: 10px;
    border-style: none;
}

